.accordion-item {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 26px;
  margin-top: 26px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #d8303e;
}

.accordion-title {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
  padding: 18px 15px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.accordion-icon {
  font-size: 18px;
  font-weight: 800;
}

.accordion-title.active {
  border-bottom: 1px solid #000;
}

.accordion-content {
  padding: 10px;
  border-top: 1px solid #ccc;
  display: flex;
  flex-grow: 1;
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px ;
  transition: 1s ease; /* Smooth transition */
}

.accordion-content-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease; /* Adjust timing here */
}

.accordion-item.active .accordion-content-wrapper {
  max-height: 1000px; /* Adjust to your maximum possible height */
}