.cards-container {
  display: flex;
  overflow-x: hidden;
}

.card {
  display: none;
  flex: 0 0 100%;
  padding: 20px;
  transition: transform 0.3s ease;
}

.dates-grid-container {
  display: grid;
  grid-template-columns:auto auto auto auto auto auto auto;
  padding: 10px;
  width: 100%;
}
.dates-grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.parties-container {
  overflow: hidden;
  padding-bottom: 30px;
}

.accordion-parent {
  height: 100%;
  overflow: scroll;
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .dates-grid-container {
    display: grid;
    grid-template-columns:auto auto auto auto auto auto auto;
    padding: 10px;
    width: 100%;
    overflow: scroll;
  }

  .accordion-parent {
    height: 100%;
    overflow: scroll;
  }
}
