* {
  font-family: "Poppins", sans-serif;
}

.svg-map__location:hover {
  fill: red;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.box:nth-child(1) {
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
  margin-left: 8em;
}

.box:nth-child(2) {
  /* display: flex; */
  margin: auto;
  margin-right: 8em;
  /* margin-top: 5em */
  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.heading {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 32px;
  margin: 20px 0;
}

.sub-heading {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(0px);
  }
  to {
    opacity: 1;
    transform: translateX(-50px);
  }
}

.brand {
  font-size: 2.5rem;
  font-weight: 900;
  color: black;
  border: 4px solid;
  padding: 5px 3px;
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
  }
  .box:nth-child(1) {
    display: none;
  }

  .box:nth-child(2) {
    display: block;
    margin: 0;
    padding: 2em 0;
  }
}

@media screen and (max-width: 1024px) {
  .box:nth-child(1) {
    display: none;
  }

  .box:nth-child(2) {
    display: block;
    margin: 0;
    padding: 2em 0;
  }
}
