* {
  font-family: "Poppins", sans-serif;
}

.party-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  max-width: 400px;
  height: 150px;
  padding: 12px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

.party-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.container {
  padding: 2px 16px;
}

.party-details {
    width: 80%;
    text-align: start;
}

.party-logo {
  display: flex;
  margin: auto;
  width: 20%;
}

.party-title {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
}

.party-subtitle {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 300;
}

.grid-container {
  display: grid;
  /* grid-template-columns: auto auto auto; */
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .grid-container {
    overflow: scroll;
  }
}

@media screen and (max-width: 1024px) {
  .grid-container {
    grid-template-columns:  auto auto
  }
}