.tab-container {
    width: 100%;
    margin: auto;
  }
  
  .tab-header {
    display: flex;
    margin: 4px 4px;
    align-items: center;
    justify-content: center;
    ;
  }
  
  .tab-item {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    color: #555;
    transition: all 0.3s ease;
    border-radius: 24px;
  }
  
  .tab-item:hover {
    background-color: #f0f0f0;
  }
  
  .tab-item.active {
    background-color: #555;
    color: white;
  }
  
  .tab-content {
    padding: 20px;
    border-top: none;
    min-height: 150px;
    color: #333;
  }


  @media screen and (max-width: 768px) {

    .tab-container {
      overflow: scroll;
    }

    .tab-content {
      height: 100%;
      overflow: scroll;
      padding: 0
    }
  }